*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    display: flexbox;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.Container{
    max-width: 700ox;
    width: 40%;
    margin-left: 30%;
    margin-top: 60px;
    background: #744cec;
    padding: 25px 30px;
    letter-spacing: 1px;
    border-radius: 5px;
    border-bottom: 2px solid hsl(0, 0%, 3%);
    /* background: transparent; */
}
.Container.input-box{
    width: calc(100% /1-220px);
}
.input-box input{
    height: 45px;
    width: 100%;
   
    outline: none;
    border-radius: 3px;
    margin-bottom: 5px;
    border: 1px solid;
}
.input-box details{
    font-weight: 500;
    margin-bottom: 5px;
    
    display: block;
}
.title{
    margin-top: 40px;
}
.pdf{
    margin-left: 70%;
}

     